*__pycache__
*.pyc
outputs/
*.tif
*.tiff
uploads/
yolov8n.pt
stitched_output.tiff.aux.xml
Detected_Images/
Sliced_images/
sliced_tiles/
detected_tiles/
temp/
YOLO_models/
last.pt
best.pt
paper.docx
paper.txt
